nav {
    display: flex;
    width: 95%;
    margin: auto;
    height: 50px;
    border: 2px solid red;
    margin-top: 20px;
    border-radius: 15px;
}

.in_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    height: 40px;
}

ul {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--text-color-3);
}

.register {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.register button {
    width: 90px;
    height: 30px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.register .btn2 {
    background-color: var(--primary-color);
}